@model IEnumerable<EventsMVC.Models.TIN_Wydarzenie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            Od lat
        </th>
        <th>
            Do lat
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            Data startu
        </th>
        <th>
            Data zakończenia
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIN_Kategoria.Nazwa)
        </th>
        <th>
            Tagi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiekOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiekDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIN_Kategoria.Nazwa)
        </td>
        <td>
            @Html.ListBox("TIN_Tagi_ID", new SelectList(item.TIN_Tagi,"TIN_Tagi_ID","Nazwa"))
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.TIN_Wydarzenie_ID }) <br/>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Dodaj Tagi", "Edit", new { id = item.TIN_Wydarzenie_ID }) 
                    
                }
            }
             <br/> 
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                   @Html.ActionLink("Delete", "Delete", new { id = item.TIN_Wydarzenie_ID })
                }
            }

            
            
        </td>
    </tr>
}

</table>
